{% extends 'blog/base.html' %}

{% block title %}
Export dan import page
{% endblock  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <a href="{% url 'export' %}" class="btn btn-primary">Export Data Blog <i class="fa fa-download" aria-hidden="true"></i> <a>
            <br>
            <hr>
           
            <form method="POST" action="{% url 'import_csv' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="file">File CSV</label>
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <button class="btn btn-primary">
                    Upload file
                </button>
            </form>
           
            
          
        </div>
    </div>
</div>

{% endblock  %}